nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
  .container
    .navbar-brand
      a.navbar-item(href='/')
        img(src=require('../../images/logo.png'))


nav.navbar.is-fixed-top(aria-label='main navigation')
  .container
    .navbar-brand
      a.navbar-item(href='/')
        img.image(src=require('../../images/logo.png'), alt='Logo')
      #nav-toggle.navbar-burger
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    #nav-menu.navbar-menu
      .navbar-end
        a.navbar-item(href='/#about') About
        a.navbar-item(href='/#skills') Skills
        a.navbar-item(href='/#experience') Experience
        a.navbar-item(href='/#school') School
        a.navbar-item(href='/#adventures') Adventures
        a.navbar-item(href='/#contact') Contact
        a.navbar-item(href='https://github.com/tynanford', target='_blank')
          img.image(src=require('../../images/GitHub-logo.png'), alt='github')
        a.navbar-item(href='https://www.linkedin.com/in/tynan-ford-300307176', target='_blank')
          img.image(src=require('../../images/linkedin-logo.png'), alt='linkedin')

section#hero.hero.is-primary.is-medium.is-bold
  .hero-body
    .container.has-text-centered
      br
      h1.title.is-1
        | Out West Road Trip! 
      h3.subtitle.is-3
        | 28 days on the road with my best friend Alpha 
br

section
  .container.has-text-centered
    .content
      .h3.is-size-3.has-text-link.has-text-weight-bold Click on the markers to see some of the photos I took!
    

section
  br
  .container
    #map

each loc in htmlWebpackPlugin.options.data.multiPic
  div(id=loc.id).modal
    .modal-background
    .modal-content
      .cotainer
        .card
          .content
            header.card-header
              p.card-header-title= loc.desc
            .card-image
              .carousel.carousel-animated.carousel-animate-slide
                .carousel-container
                  for image, index in loc.images
                    div(class=index==1 ? "is-active" : "").carousel-item.has-background
                      figure.image.is-16by9
                        img(src='' data-src=require('../../images/modal/' + image.src + '.jpg'), alt=image.alt).lazy_load.is-background
                .carousel-navigation.is-centered
                  .carousel-nav-left
                    i.icon-angle-circled-left(aria-hidden="true")
                  .carousel-nav-right
                    i.icon-angle-circled-right(aria-hidden="true")
            footer.card-footer
              p.card-footer-item= loc.footer 
    button.modal-close.is-large#close-modal

each loc in htmlWebpackPlugin.options.data.singlePic
  div(id=loc.id).modal
    .modal-background
    .modal-content
      .cotainer
        .card
          .content
            header.card-header
              p.card-header-title= loc.desc
            .card-image
              figure.image.is-16by9
                img(src='' data-src=require('../../images/modal/' + loc.image.src + '.jpg'), alt=loc.image.alt).lazy_load.is-background
            footer.card-footer
              p.card-footer-item= loc.footer 
    button.modal-close.is-large#close-modal